<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="gbl-to-json-epy.ZPM">
    <Module>
      <Name>gbl-to-json-epy</Name>
      <Version>0.0.4</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.GblToJSON.ePy.CLS"/>
      <Resource Name="dc.MultiDy.GBL"/>
      <Description>create a JSON Object from Global and with Importer - embdded Python</Description>
      	 <Author>
    			<Person>Robert C. Cemper</Person>
		    	<CopyrightDate>2022</CopyrightDate>
			    <License>MIT</License>
			    <Notes>
				      repository: https://github.com/rcemper/GlobalToJSON-embeddedPython
			    </Notes>
		    </Author>
    </Module>
  </Document>
</Export>
